body{
    margin: 0px 0px 0px 0px;
    font-family: monospace;
    background-color: black;
}

.header {
    width: 100%;
    height: 100px;
    background-color: black; width: 100%;
    border-bottom: 3px rgb(13, 151, 144) solid;
    align-items: center;
}

.titulo{
    margin: 0px;
    color: rgb(13, 151, 144);
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}

.header .container {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: orange;
    display: flex;
    padding: 0;
}

p {
    color: white;
}

.banner {
    height: 500px;
    background-image: url("../projeto-iot-revolucionario-wilkerr/Aula_HTML_CSS/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
}

.banner .card {
    background-color: beige;
    height: 450px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.btn {
    font-family: monospace;
    margin-top: 10px;
    border: 0;
    font-weight: 600;
    background-color: #e75459;
    color: white;
    font-size: 18px;
    border-radius: 4px;
    padding: 10px 15px;
}

input {
    height: 30px;
    border: 2px solid #e75459;
    border-radius: 4px;
}

.banner .card {
    color: #e75459;
}