body{
    margin: 0px 0px 0px 0px;
    font-family: monospace;
}

.header {
    background-color: black; width: 100%;
    border-bottom: 6px rgb(13, 151, 144) solid;
}

h1{
    margin: 0px;
    color: rgb(13, 151, 144);
}

.header .container {
    width: 70%;
    display: flex;
}

.header .container .navbar {
    width: 500px;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    color: orange;
    display: flex;
}